.contact{
    text-align: center;
    padding: 20px;
    background: url(./images/cases-bg.png) no-repeat ;
  
    background-size: contain;
    background-position: center;
}
.contact h4{
    color: var(--light-blue);
}
.contact h2{
    margin: 20px 0px 30px;
    font-size: 2.2em;
}
.contact form{
    display: flex;
    flex-direction: column;
}
.contact input, textarea, .input{
    margin-bottom: 20px;
    width: 100%;
    max-width: 570px;
     margin-inline: auto;
    height: 50px;
    background-color: rgba(61, 59, 59, 0.2);

    outline: none;
    border: none;
    padding: 20px;
   border-radius: 5px;

}
.contact input::placeholder, .contact textarea::placeholder{
color: var(--light-blue);
font-weight: 700;
}
.contact input:hover, .contact textarea:hover{
background-color: white;
}
.contact textarea{
    height: auto;
    resize: none;
    
}

.contact .button{
    height: 70px;
}