.main{
    --button:linear-gradient(to right, rgb(237, 138, 76) 0px, rgb(234, 72, 92) 100%);
--button-blue:rgb(45, 223, 209);
--light-blue:#aab2cd;
--green:#2add82;
color: white;
}

.main h2{
    font-size: 2.2rem;
}
.main h4{
    color: var(--light-blue);
}

.main p{
    color: var(--light-blue);
}